/* Autora: Sabrina Peres Botelho RA: 70237-2021  ADS 3º Semestre*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  padding-left: 25px;
  gap: 10px;
}

.logo p {
  color: #04743e;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.divisor {
  width: 2px;
  height: 50px;
  background-color: #04743E;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #333;
  margin-bottom: 10px;
  margin-top: 25px;
}

.subtitulo {
  color: #666;
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  line-height: 1.6;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

figure:hover {
  transform: translateY(-5px);
}

.imagem-galeria {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

/* Modal CSS */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.modal:target {
  opacity: 1;
  visibility: visible;
}

.modal-conteudo {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-imagem {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
}

.fechar {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.fechar:hover {
  color: #ccc;
}

.rodape {
  font-family: Arial, sans-serif;
  background-color: #232323;
  color: #04743e;
  text-align: center;
  margin-top: 50px;
  padding: 35px;
}
